@import "../../constants/variables";

.animeWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  padding: 0 20px;
  justify-content: end;
  box-sizing: border-box;

  p {
    position: absolute;
    flex-wrap: wrap;
    font-weight: 900;
  }
}